In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [5]:
employee_data=[(10,"Raj","1999","100","M",2000),
               (20,"Rahul","2002","200","M",8000),
               (30,"Raghav","2018","100","M",6000),
               (40,"Raja","2004","100","F",7000),
               (50,"Rama","2008","400","F",1000),
               (60,"Rasul","2014","500","M",5000)]

employee_schema=["employee_id","name","doj","employee_dept_id","gender","salary"]

employeeDF = spark.createDataFrame(data=employee_data, schema=employee_schema)

In [10]:
department_data=[('HR',100),
                 ('Supply',200),
                 ('Sales',300),
                 ('Stock',400)]
department_schema=["dept_name","dept_id"]

departmentDF=spark.createDataFrame(data=department_data, schema=department_schema)

In [8]:
employeeDF.show()

+-----------+------+----+----------------+------+------+
|employee_id|  name| doj|employee_dept_id|gender|salary|
+-----------+------+----+----------------+------+------+
|         10|   Raj|1999|             100|     M|  2000|
|         20| Rahul|2002|             200|     M|  8000|
|         30|Raghav|2018|             100|     M|  6000|
|         40|  Raja|2004|             100|     F|  7000|
|         50|  Rama|2008|             400|     F|  1000|
|         60| Rasul|2014|             500|     M|  5000|
+-----------+------+----+----------------+------+------+

In [12]:
departmentDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|       HR|    100|
|   Supply|    200|
|    Sales|    300|
|    Stock|    400|
+---------+-------+

# Inner Join

In [19]:
df_join= employeeDF.join(departmentDF, employeeDF.employee_dept_id==departmentDF.dept_id,"inner")

In [20]:
df_join.show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         30|Raghav|2018|             100|     M|  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
+-----------+------+----+----------------+------+------+---------+-------+

# Left Join

In [21]:
df_join= employeeDF.join(departmentDF, employeeDF.employee_dept_id==departmentDF.dept_id,"left")

In [22]:
df_join.show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         60| Rasul|2014|             500|     M|  5000|     null|   null|
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         30|Raghav|2018|             100|     M|  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
+-----------+------+----+----------------+------+------+---------+-------+

# Right Join

In [23]:
df_join= employeeDF.join(departmentDF, employeeDF.employee_dept_id==departmentDF.dept_id,"right")

In [24]:
df_join.show()

+-----------+------+----+----------------+------+------+---------+-------+
|employee_id|  name| doj|employee_dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+----------------+------+------+---------+-------+
|         10|   Raj|1999|             100|     M|  2000|       HR|    100|
|         30|Raghav|2018|             100|     M|  6000|       HR|    100|
|         40|  Raja|2004|             100|     F|  7000|       HR|    100|
|         20| Rahul|2002|             200|     M|  8000|   Supply|    200|
|         50|  Rama|2008|             400|     F|  1000|    Stock|    400|
|       null|  null|null|            null|  null|  null|    Sales|    300|
+-----------+------+----+----------------+------+------+---------+-------+

# Left Semi Join

In [26]:
df_join= employeeDF.join(departmentDF, employeeDF.employee_dept_id==departmentDF.dept_id,"left_semi")

In [27]:
df_join.show()

+-----------+------+----+----------------+------+------+
|employee_id|  name| doj|employee_dept_id|gender|salary|
+-----------+------+----+----------------+------+------+
|         10|   Raj|1999|             100|     M|  2000|
|         30|Raghav|2018|             100|     M|  6000|
|         40|  Raja|2004|             100|     F|  7000|
|         20| Rahul|2002|             200|     M|  8000|
|         50|  Rama|2008|             400|     F|  1000|
+-----------+------+----+----------------+------+------+

# Left anti Join

In [29]:
df_join= employeeDF.join(departmentDF, employeeDF.employee_dept_id==departmentDF.dept_id,"left_anti")

In [30]:
df_join.show()

+-----------+-----+----+----------------+------+------+
|employee_id| name| doj|employee_dept_id|gender|salary|
+-----------+-----+----+----------------+------+------+
|         60|Rasul|2014|             500|     M|  5000|
+-----------+-----+----+----------------+------+------+