In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder.appName("LoadDataIntoHive").enableHiveSupport().getOrCreate()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType

# Define the schema for the Hive table
schema = StructType([
    StructField("data", StringType(), True)
])

In [ ]:
# Create a Hive table
spark.sql("CREATE TABLE IF NOT EXISTS my_hive_table (data STRING) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','")

In [ ]:
# Load data from the text file into a DataFrame
data_file_path = "path_to_your_text_file.txt"
data_df = spark.read.csv(data_file_path, schema=schema, header=False, sep=",")

In [ ]:
# Insert the data into the Hive table
data_df.write.insertInto("my_hive_table")

In [ ]:
spark.stop()